body {
  background: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CONTAINER */
.container {
  width: 320px;
  display: flex;
  flex-direction: column;
}

/* TITLE */
.title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 4px;
  margin-bottom: 30px;

  background: linear-gradient(90deg, #8c52ff, #ff914d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LABEL */
label {
  font-size: 12px;
  margin-bottom: 5px;
}

/* INPUT (PANTAY NA LAHAT) */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: none;
  background: #e0e0e0;
  box-sizing: border-box;
}

/* PASSWORD BOX */
.password-box {
  position: relative;
  width: 100%;
}

.password-box input {
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  border-radius: 15px;
  border: none;
  background: #e0e0e0;
  box-sizing: border-box;
}

.password-box span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(90deg, #7aa6ff, #d17aff);
  cursor: pointer;
}

/* LINKS */
.link {
  text-align: center;
  font-size: 13px;
  color: blue;
  cursor: pointer;
  margin-top: 10px;
}
